.restaurang{
    display: grid;
    grid-template-columns: 1fr 500px;
    background-color: paleturquoise;
}

.restaurang img{
    width: 100%;
    height: 350px;
}

body{
    padding-left: 100px;
    padding-right: 100px;
}

