:root{
    font-family: 'Roboto', sans-serif;
    --main-color: #182739;
    --accent-color: #1a7c95;
    --light-color: #e9e2b9;
}

header a{
    color: var(--light-color);
    text-decoration: none;
}

a {
    color: var(--main-color);
}

.restaurang{
    display: grid;
    grid-template-columns: 1fr 500px;
    background-color: var(--light-color);
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    color: black;
    box-shadow: 10px 5px 50px 5px black;
}

.button {
    background-color: var(--accent-color);
    border: none;
    color: var(--light-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

#headerButtons{
    display: flex;
    justify-content: space-between;
}

h1 {
    padding-left: 20px;
}

select{
    width: 40%;
    appearance: none;
    border:none;
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

button{
    width: 40%;
}

.restaurang p, .restaurang h3, .restaurang a{
    padding-left: 20px;
}

.restaurang img{
    width: 100%;
    height: 350px;
    border-radius: 25px;    
}

body{
    padding-left: 200px;
    padding-right: 200px;
    background-color: var(--main-color);
    color: var(--light-color);
}

#korv{
    text-align: center;
    text-decoration: none;
    color: var(--light-color);
}

footer{
    text-align: center;
    padding: 50px;
}


